name: Deploy Frontend

on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build Docker image
        run: docker build -t mevanmanilka/docker-react -f Dockerfile.dev .

      - name: Run tests
        run: docker run -e CI=true mevanmanilka/docker-react npm test

      - name: Package deployment files
        run: zip -r deploy.zip Dockerfile .dockerignore

      - name: Deploy to Elastic Beanstalk
        uses: einaregilsson/beanstalk-deploy@v18
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          region: us-east-1
          application_name: frontend
          environment_name: Frontend-env
          existing_bucket_name: elasticbeanstalk-us-east-1-724084651959
          version_label: ${{ github.sha }}-${{ github.run_number }}
          deployment_package: deploy.zip
